# Docker
**/.dockerignore
**/docker-compose*
**/compose*
**/Dockerfile*

# Git
**/.git
**/.gitignore

# Configs
**/.env

# Editors settings
**/.vs
**/.vscode
.idea

# Npm
**/npm-debug.log

# Tests
__tests__

# Modules
node_modules

# Generic
README.md
.editorconfig
.prettierrc
eslint.config.mjs
licence.md
makefile
tsconfig.json
